<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
<!--        <activity-->
<!--            android:name=".main.MainActivity"-->
<!--            android:icon="@mipmap/ic_launcher_default"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".ui.splsh.SplashActivity"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name="com.devndev.lamp.presentation.ui.main.MainActivity"
            android:icon="@mipmap/ic_launcher_default"
            android:roundIcon="@mipmap/ic_launcher_default_round"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".ui.chatting.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />

        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat"/>

<!--        <activity-->
<!--            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                &lt;!&ndash; Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" &ndash;&gt;-->
<!--                <data android:host="oauth"-->
<!--                    android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
    </application>
</manifest>