<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" /> <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="SelectedPhotoAccess" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_default"
        android:roundIcon="@mipmap/ic_launcher_default_round"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lamp"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <service android:name=".service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
            <activity
                android:name="com.devndev.lamp.presentation.ui.splsh.SplashActivity"
                android:icon="@mipmap/ic_launcher_default"
                android:roundIcon="@mipmap/ic_launcher_default_round"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

        <!-- Male Icon Alias -->
        <activity-alias
            android:name="com.devndev.lamp.presentation.ui.splsh.SplashActivityMale"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_m"
            android:enabled="false"
            android:roundIcon="@mipmap/ic_launcher_m_round"
            android:targetActivity="com.devndev.lamp.presentation.ui.splsh.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>


        <!-- Female Icon Alias -->
        <activity-alias
            android:name="com.devndev.lamp.presentation.ui.splsh.SplashActivityFemale"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_w"
            android:enabled="false"
            android:roundIcon="@mipmap/ic_launcher_w_round"
            android:targetActivity="com.devndev.lamp.presentation.ui.splsh.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>